@font-face {
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded/Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.base_text {
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
}

.h1_text {
    color: var(--color-text-light);
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
    font-size: 48px;
    font-style: normal;
}

.h2_text {
    color: var(--color-text-light);
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
    font-size: 32px;
    font-style: normal;
}

@media (max-width: 768px) {
    .h1_text {
        font-size: 36px;
    }
    
    .h2_text {
        font-size: 24px;
    }
    
    .base_text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .h1_text {
        font-size: 28px;
    }
    
    .h2_text {
        font-size: 20px;
    }
    
    .base_text {
        font-size: 12px;
    }
}