.base_button {
    background-color: var(--color-accent-gold);
    color: var(--color-text-primary);
    border: 2px solid var(--color-border-gold);
    border-radius: 12px;
    padding: 12px 24px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.base_button:hover {
    background-color: var(--color-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.base_button:active {
    background-color: var(--color-accent-gold);
}